.customForm {
    width: 100%;
    align-content: center;
    margin: auto;
    

}

.label {
    width: 100%;
    margin: auto;
    color: lightgray;
}

.field {
    width: 100%;
    margin: auto;
}

.control {
    width: 100%;
    margin: auto;
    padding: 0;

}