.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: hsl(209, 99%, 48%);
}


/* Joe CSS */
body {
  background: black;
}

.navbar {
  background:hsl(0, 0%, 7%);
}
.hero-body {
    text-align: center;
    justify-content: center;
}

.skyline-banner{
  background: black url(/images/SkylineStudio1.jpg) center / cover;
  opacity: .8;
  text-align: center;
}

.title {
  font-size: 6rem;
  color: gray;
}

.calendar {
  justify-content: center;
  margin: auto;
  padding-left: 200px;
}
