.form-line {
  display: block;
  font-size: 2em;
  width: 100%;
  margin: 2% auto;
}

label {
  text-align: left;
}

input, textarea {
  margin-left: 2%;
  text-align: right;
}

input {
  width: 25%;
}

textarea {
  width: 25%;
  height: 100px;
}

.form-color{
  background-color:  #363636;
}

