img {
  height: 600px;
  width: 900px;
  clear: "both";
  padding-top: 120;
  text-align: "center";
  padding: 5px;
  overflow-x: "scroll";
  
  /* animation: slideshow 10s linear infinite; */
}

.image-slide {
  width: auto;
  height: auto;

}
